*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#00FF47;
    background-color: white;
    font-size: 12px;
}
.box{
    background-color: #00FF47;
    color: white;
    border: 10px solid transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}
.amt,.tip,.tamt{
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 1px;
}
.submit,.clear{
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 10px;
    
}
.submit:hover,.clear:hover{
    background-color: #00FF47;
    color: white;
    transition: 0.3s ease-in;
    border: 1px solid white;
}
.cp{
    background-color: #00FF47;
    color: white;

}
